@import "/src/assets/styles/globalVariables.scss";
.mainContainer {
  margin-top: 40px;
  height: 100vh;
  background-color: $body;
}
.form-part {
  display: flex;
  max-width: 896px;
  margin: auto;
  flex-direction: column;
  padding: 20px 10px;
}
.recipeImage {
  width: 150px;
  height: 150px;
  display: contents;

  .image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    border: 2px dashed $purple-2;

    .overlay {
      position: absolute;
      top: 75%;
      left: 75%;
      width: 18%;
      height: 18%;
      background-color: $purple-2;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      border-radius: 50%;

      span {
        color: white; // Color of the plus icon
        font-size: 24px;
      }
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: cover;
    }
  }
}
.col-12 {
  input.custom-input {
    border-color: $purple-1;

    &::placeholder {
      color: $purple-1;
      font-size: 14px;
    }

    &:focus {
      border-color: $purple-2;
    }

    &[type="radio"] {
      appearance: none; 
      width: 20px; 
      height: 20px;
      border: 2px solid $purple-1; 
      border-radius: 50%; 
      outline: none; 
      cursor: pointer; 

      &:checked {
        background-color: $purple-2; 
        border-color: $purple-2; 
      }

      & + label {
        margin-left: 10px; 
        cursor: pointer; 
      }
    }
  }
}
.ingredient-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ingredient-add-more {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  color: $headings;
}
.btnColor {
  background-color: $purple-2;
  color: $body;
  padding: 10px 30px;
  font-weight: 500;
  letter-spacing: 2px;
}
.upload-button-div {
  display: flex;
  justify-content: center;
}
.form-select.custom-input {
  border-color: $purple-1; 
}

.form-select.custom-input:focus {
  border-color: $purple-2; 
}

.textLabel {
  color: $purple-1;
}
