<app-header></app-header>
<div class="mainContainer">
  <div class="mainIntroduction">
    <div class="titleRecipe">Blue Salaf</div>
    <div class="addInfoRecipe">
      <div class="Info">
        <div>
          <span class="bi bi-clock fs-3"></span
          ><span class="Infotext">32 MIN</span>
        </div>
        <div>
          <span class="bi bi-person fs-3"></span
          ><span class="Infotext">2 PEOPLE</span>
        </div>
        <div>
          <span class="bi bi-fire fs-3"></span
          ><span class="Infotext">23 CALORIES</span>
        </div>
      </div>
      <div class="recipeImage">
        <img
          src="https://s15.postimg.cc/temvv7u4r/recipe.jpg"
          alt="Blue Salaf Image"
          class="rounded-circle"
          width="200"
          height="200"
        />
      </div>
    </div>
   
  </div>
  <div class="bottomPart rounded-2">
    <!-- <div class="row line"></div> -->
    <hr class="line">
    <div class="row tabs">
        <div class="d-flex justify-content-around align-self-stretch">
            <div class="active">Ingredients</div>
            <div class="">Tools</div>
            <div class="">Direction</div>
        </div>
    </div>
    <div class="row activeTabContent rounded-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
