@import "/src/assets/styles/globalVariables.scss";
.mainContainer {
  height: 100vh;
  background-color: $purple-1;
  .welcomt-text {
    color: $body-alt;
    padding: 20px 10px;
    font-weight: 500;
    margin: 0 auto;
  }
  .form-part {
    background-color: #ffffff;
    display: flex;
    max-width: 896px;
    margin: auto;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: -1px 7px 7px 0px #ca93f1d6;
    z-index: 1;
  }
  .form-shadow {
    background-color: #ffffff;
    width: 92%;
    max-width: 824px;
    margin: auto;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    position: relative;
    height: 10px;
    box-shadow: -1px 7px 7px 0px #9d4adf63;
    z-index: 0;
  }
  .form-content {
    margin: 0px 10px;
    border-radius: 10px;
  }
}

.foot-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  gap: 15px;
  margin: auto;
}
.title-login-register {
  text-align: center;
  margin: 10px 0px;
  font-weight: 500;
  text-transform: capitalize;
}
.forgot-pssword {
  text-align: center;
  margin: 15px 0px;
}
.btnColor {
  background-color: $purple-2;
  color: $body;
}
.btnColorLast {
  color: $body;
  font-weight: 500;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 63vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}
