@import "/src/assets/styles/globalVariables.scss";
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: $body; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;

  button {
    border: 0;
    background-color: transparent;
  }

  .bi {
    font-size: 1.5rem; 
  }

  @media (max-width: 767px) {
    .bi {
      font-size: 1.2rem; 
    }
  }
}
.left-navigation{
  width: 200px;
  height: 102vh;
  background-color: #000000f2;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}