@import '/src/assets/styles/globalVariables.scss';

.container {
  background-image: url("../../../assets/homebannerBg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: $purple-1;
  position: absolute;
  top: 20%;
  width: 100%;
}

.btn {
  position: absolute;
  bottom: 10%;
  background-color: $purple-2;
}
